:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #333333;
  background-color: #FAF9F6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: opacity 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.card {
  padding: 2em;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  margin: 0 !important;
  padding: 0;
  min-height: 100vh;
  background-color: #FAF9F6;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

/* body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #FAF9F6;
  overflow-x: hidden;
} */

#app {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

html.lock,
body.lock {
  overflow: hidden !important;
  height: 100%;
}

